
<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <button ng-click="signin()" type="button" class="btn btn-primary">Sign in</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div>
                    <h3><i class="fa fa-pencil"></i> Articles</h3>

                    <table class="table">
                        <thead>
                            <th>Title</th>
                            <th>Url</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="article in articles | orderBy:'-sortKey'">
                                <td><edit-in-place value="article.resolved_title"></edit-in-place></td>
                                <td><a href="{{ article.resolved_url }}" target="_blank">article</a></td>
                                <td></td>
                            </tr>
                            <tr ng-repeat-end>
                                <td colspan="2"><edit-in-place value="article.excerpt"></edit-in-place></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-6">
                <div>
                    <h3><i class="fa fa-pencil"></i> Newsletter Preview</h3>

                    <table class="table">
                        <thead>
                            <th>&nbsp;</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="article in articles | orderBy:'-sortKey'">
                                <td><a href="{{ article.resolved_url }}" target="_blank">{{ article.resolved_title }}</a> | {{ article.sortKey }}</td>
                            </tr>
                            <tr ng-repeat-end>
                                <td>{{ article.excerpt }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<!--div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i> Newsletter Preview</h3>

                <table class="table">
                    <tbody>
                        <tr ng-repeat-start="article in articles | orderBy:'-sortKey'">
                            <td><a href="{{ article.resolved_url }}" target="_blank">{{ article.resolved_title }}</a> | {{ article.sortKey }}</td>
                        </tr>
                        <tr ng-repeat-end>
                            <td>{{ article.excerpt }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div-->

